a {
  font-size: 50px !important;
}

/* 画面を左右に分割する設定 */
.site-container {
  display: flex;
  min-height: 100vh;
}

/* 左メニューのスタイル */
.sidebar {
  width: 200px; /* 左メニューの幅 */
  background-color: #f0f0f0;
  border-right: 2px solid #808080;
  padding: 15px;
  box-sizing: border-box;
}

/* 右側メインコンテンツのスタイル */
.main-content {
  flex: 1;
  padding: 200px 20px 20px 20px; /* 内容の部分 */
}



body {
  /* 画像のパス指定 + バックアップ用の pointer/auto を記載 */
  cursor: url('cursor.png'), auto;
}
